.title{
    font-size: 20px;
    font-style: italic;
    font-weight: 800px;
   font: 100;
   color: white;
    border-radius: 2%;
   margin-left: 200px;

}

body {
    background-color: rgb(199, 191, 191);
}
.main{
    background-color: cadetblue;
height: 800px;
width: 1000px;
align-content: center;
border-radius: 2pc;
margin-left: 200px;
scroll-behavior: unset;
}
.link{
    color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.link1{
    font-size: 30px;
    background-color: white;
    border-radius: 4px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;

}

.box1{
background-color: rgb(195, 197, 197);
height: 250px;
width: 300px;
margin-left: 40px;
margin-top: 10px;
}

.link2{
    font-size: 20px;
    background-color: rgb(190, 185, 185);
    border-radius: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}