body {
    background-color: maroon;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 7px solid green;
    margin-bottom: 2rem;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: magenta;
}


input[type='text'] {
border-radius: 5px;
width: 90%;
border-style: red;


}